NEXT_PUBLIC_SOLANA_RPC_URL = "https://api.devnet.solana.com/"
NEXT_PUBLIC_ROLLUP_PROGRAM = ""

NEXT_PUBLIC_L2_CHAIN_ID = "1001"
NEXT_PUBLIC_L2_CHAIN_NAME = "Local Devnet"
NEXT_PUBLIC_L2_RPC_URL = "http://localhost:8545"
NEXT_PUBLIC_L2_EXPLORER_URL = "http://localhost:2000/"